.Rendered{
  position: relative;
  left:0%;
  width: 50%;
  margin-left:auto;
  visibility: visible;
}
.Rendered.Moveable.Printing{
  width:450px;
  top: -100px;
  visibility: visible;

}
.MainDiv{
  border-width:1px;
  border-radius: 20%;
  border-color: rgb(75, 73, 73);
}
.CV{
  position:relative;
  display: inline-flex;
  align-content: flex-start;
  flex-direction: column;
  max-width:800px;
  text-align: center;
  border-radius: 5%;
  box-sizing: border-box;
}
.CV.Printing{
  display:block;
}
.Controller{
  display: contents;
}

.Headshot{
  width:100px;
  height:100px;
  position:relative;
  visibility: visible;
  top:100%;
}
#root{

}
.Printing{
  visibility:hidden;
}
.Printing.RemovableForm{
  display:none;
}
.HeadshotBox{
  position:relative;
  text-align:left;
  width:100px;
  height:auto;
}
.HeadshotRendered{

}
.Content{
  display: inline-block;
  height: 20px;
  width: 200px;
  border-radius: 3%;
  border-color:grey;
  border-width: 2px;
  border-style:solid;
  text-align: left;
}
.Content.Description{
  height: 40px;
  width:400px;
}
.ContentBox{
  display:flex;
}
.PrintButton{
  position:relative;
  display:block;
  width: 100%;
}
.UserID{
  text-align:right;
}
ul{
  text-align:right;
}