.Rendered{
  background-color: steelblue;
  left: 100%;
}
.EducationBox{
  
}
.EducationBox.Rendered{
  order:1;
}
.ExperienceBox.Rendered{
  order:2;
}
.CV{
  display: flex;
}
.Controller{
  display: contents;
}